<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>animated hamburger</title>

    <link href="https://fonts.googleapis.com/css?family=Cinzel|Comfortaa|Marck+Script|Monoton|Montserrat|Pacifico|Prata|Questrial|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >
    <link rel="stylesheet" type="text/css" href="../styles/menu.css">
    <link rel="stylesheet" type="text/css" href="../styles/events_styles.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../scripts/main.js"></script>
   <style media="screen">

      body{
        margin:0px;
        padding: 0px;
        background-color:rgb(250, 252, 179);   }
    </style>
  </head>
    <body>
    <header class="header">
      <figure class="logo">
        <img src="../images/logo.png" alt="festlogo">
      </figure>
      <h1 class="heading1">The Fest</h1>
      <div class="icon">
        <div class="hamburger">

        </div>
      </div>
    </header>

   <main class="main">
     <h1 id="evehead">Events</h1>


     <div id="object1" class="objects">
       <i class="fas fa-laptop"></i>
     </div>
     <div id="object2" class="objects">
      <i class="fab fa-android"></i>
     </div>
     <div id="object3"class="objects">
        <i class="fas fa-code"></i>
     </div>
     <div id="object4" class="objects">
       <i class="fas fa-cloud"></i>
     </div>
     <div id="object5" class="objects">
       <i class="fas fa-drum"></i>
     </div>
     <div id="object6" class="objects">
       <i class="fas fa-gift"></i>
     </div>

   </main>
   <div class="eventcontainer">
    <div class="event">
    <h2 class="eveheading"> Coding Challenge </h2>

    <img class="eveimg" alt=CodingChallenge src="../images/codeimage.png">
    <h3><i>Event description</i></h3>
     <div class="overlay">
       <div class="rgbtn"> For Info Click </div>
       <a class="minfo" href="codingchallenge.html">Here.</a>
     </div>

    </div>




    <div class="event">
    <h2 class="eveheading">Gaming Challenge </h2>
    <img class="eveimg" alt="CodingChallenge" src="../images/gimage.jpg">
    <h3><i>Event description </i></h3>

    <div class="overlay ">
      <div class="rgbtn"> For More Info Click </div>
      <a class="minfo" alt="Gaming Challenge" href="gamingchallenge.html">Here.</a>
    </div>
    </div>

    <div class="event">
    <h2 class="eveheading">Art & Craft Challenge </h2>
    <img class="eveimg" alt="CodingChallenge" src="../images/artimage.jpg">
    <h3><i>Event description</i></h3>

    <div class="overlay">
      <div class="rgbtn"> For More Info Click </div>
      <a class="minfo" alt="Gaming Challenge" href="artchallenge.html"><b>Here.</b></a>
    </div>
    </div>
   </div>
    <div class="menu">
      <ul>
        <li> <a href="index.html">Home</a> </li>
        <li> <a href="events.html">Events</a> </li>
        <li> <a href="#">Sponsors</a> </li>
        <li> <a href="#">Register</a> </li>

      </ul>


    </div>








  </body>
</html>
