<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>animated hamburger</title>

    <link href="https://fonts.googleapis.com/css?family=Cinzel|Comfortaa|Marck+Script|Monoton|Montserrat|Pacifico|Prata|Questrial|Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" >
    <link rel="stylesheet" type="text/css" href="../styles/menu.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="../scripts/main.js"></script>
   <style media="screen">

      body{
        margin:0px;
        padding: 0px;
        background-color:rgb(248, 252, 179);   }
    </style>
  </head>
  <body>
    <header class="header">
      <figure class="logo">
        <img src="../images/logo.png" alt="festlogo">
      </figure>
      <h1 class="heading1">The Fest</h1>
      <div class="icon">
        <div class="hamburger">

        </div>
      </div>
    </header>

   <main class="main">
     <div class="displogo"> <img src="../images/logo_black.png" alt="main logo" id="logo"> </div>
     <div class="dispheadings">
       <h1>The Fest</h1>
       <h4>15-18 November 2018 </h4>
     </div>
     <div id="object1" class="objects">
       <i class="fas fa-laptop"></i>
     </div>
     <div id="object2" class="objects">
      <i class="fab fa-android"></i>
     </div>
     <div id="object3"class="objects">
        <i class="fas fa-code"></i>
     </div>
     <div id="object4" class="objects">
       <i class="fas fa-cloud"></i>
     </div>
     <div id="object5" class="objects">
       <i class="fas fa-drum"></i>
     </div>
     <div id="object6" class="objects">
       <i class="fas fa-gift"></i>
     </div>

   </main>
    <div class="menu">
      <ul>
        <li> <a href="index.html">Home</a> </li>
        <li> <a href="events.html">Events</a> </li>
        <li> <a href="#">Sponsors</a> </li>
        <li> <a href="#">Register</a> </li>

      </ul>

    </div>

  </body>
</html>
